body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
/*Estilização*/
.topnav {
    overflow: hidden;
    /*adapta o conteudo escondendo a sobra*/
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*mudar cor dos links com hover*/
a:hover {
    color: #ddd;
}

.content {
    background-color: #ddd;
    padding: 200px;
    height: 200px;
    text-align: center;
}

.description{
    font-size: small;
    font-style: italic;
}

/*Estilo rodapé*/
footer{
    padding: 14px 16;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}
