/*Estilização da barra de navegação*/
nav{
    background-color: #ccc;
}
/*Estilização dos links*/
ul li a{
padding: 5px;
color: #ccc;
text-decoration: none;
}

a:hover{
    color: black;
}

.container a:hover{
    color: #aaa;
}

.container a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*Estilização imagem*/
.img{
            height: 200px;
            background-color: #ccc;
        }
figcaption{
background-color: #ccc;
color: white;
font-size: small;
font-style: italic;
}

/*Estilização da logo*/
.wrapper{
    display: flex;
}

#circle{
    height: 100px;
    width: 100px;
    border: 20px solid #ccc;
    border-radius: 100px; /*para visualizar onde está a logo*/
    position: relative;
}
p, .text-p{
   text-align: justify; 
}

.description{
    font-size: small;
    font-style: italic;
}

/*Estilização do rodapé*/
.footer{
    background-color: #ccc;
    color:white;
}

/*Responsividade de telas*/
@media only screen and (max-width: 600px){
    .body{background: none;}
}
@media only screen and (max-width: 768px){
    .body{background: none;}
}
@media only screen and (max-width: 992px){
    .body{background: none;}
}
@media only screen and (max-width: 1200px){
    .body{background: none;}
}