/*Estilização*/
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

/*Cabeçalho*/
        .header {
            background-color: #f1f1f1;
            padding: 30px;
            text-align: center;
            font-size: 35px;
        }

/*Criando três colunas uma ao lado da outra com float*/
        .column {
            float: left;
            /* como um elemento deve flutuar dentro de seu contêiner.*/
            width: 33.33%;
            padding: 10px;
            height: 300px;
        }

/*Limpando foats depois da coluna*/
        .row:aftr {
            content: "";
            display: table;
            /*exibição do tipo tabela*/
            clear: both;
        }

/*Descrição dos titulos*/
        .description-title{
            font-size: small;
            font-style: italic;
        }

        /*Alinhamento do conteudo principal*/
         #box-container{
        text-align: justify;
    }

/*Responsividade*/
        @media (max-width: 600px) {
            .column {
                width: 100%;
            }
        }